/target/
/test-output/
/settings/
/reports/
/logs/
/.settings/
/.classpath
/.project
/.idea/
/allure-results/
/allure-report/
/.allure/
/*.iml
/.DS_Store
/src/test/java/data/.DS_Store
/src/.DS_Store
/src/test/.DS_Store
src/test/java/.DS_Store