<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Rest-Assured API Test Suite">
    <listeners>
        <listener
                class-name="in.reqres.utility.TestListener"/>
    </listeners>
    <suite-files>
        <suite-file path="reqrestestsuite.xml"/>
        <suite-file path="restfulbookersuite.xml"/>
        <suite-file path="soapapisuite.xml"/>
        <suite-file path="assertionsuite.xml"/>
        <suite-file path="fileuploadsuite.xml"/>
    </suite-files>
</suite> <!-- Suite -->